# Файл для игнорирования части каталогов и файлов для синхронизации  GIT

# Игнорирование файла логов
*.log

# Игнорирование файла (во всех дирректориях), содержащего переменные окружения
*.env
*.iml

# Игнорирование файлов (во всех дирректориях), специфичных для IDEA
/.idea/*
/.vscode/*
/out/*
*.sw*